.login-form {
    width: 70%;
    margin-left: 15px;
    margin-top: 30px;
}

.login-form h1 {
    font-weight: 700;
    font-size: 20px;
}

.login-form form {
    margin-top: 20px;
    border: 1px solid #d3ced3;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.login-form form label , .login-form form p{
    font-size: 16px;
    color: #333333;
    letter-spacing: 1px;
    margin: 10px 0;
}

.login-form form button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: #d3ced3;
    border: none;
    border-radius: 2px;
    color: #333333;
    font-weight: 700;
    font-size: 16px;
}

.login-form form p {
    margin-left: 0;
    margin-top: 20px;
}

.login-form form input {
    outline: none;
}