.card {
    display: flex;
    flex-direction: column;
    width: 28%;
    margin: auto;
    margin-bottom: 20px;
}

.card p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: black;
}

.card a {
    text-decoration: none;
}