.product-item {
    width: 45%;
}

.product-item h1 {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
    line-height: 30px;
}
p, .p-desc{
    font-size: 14px;
    line-height: 20px;
    margin: 20px auto;
    letter-spacing: 1px;
}
.price-p {
    font-size: 30px;
    color: rgb(83, 83, 83);
}

.add-to-card input {
    width: 50px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid black;
    text-align: center;
}

.add-to-card button {
    width: 100px;
    height: 36px;
    background-color: black;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    color: gray;
    font-size: 16px;
    font-weight: 700;
}

.product-item img {
    width: 100%;
}

.tab {
    margin-left: 30px;
    margin-top: 20px;
}

.viewCart {
    background-color: #F7F6F7;
    display: flex;
    justify-content: start;
    width: 95%;
    margin-bottom: 30px;
    border-top: 3px solid #eee;
    align-items: center;
}

.viewCart button {
    background-color: #EBE9EB;
    width: 90px;
    height: 30px;
    border: none;
    margin-right: 20px;
}