.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-bottom: 50px;
    margin: 0 5%;
}

.nav-div > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-div > ul li {
    margin: auto 20px;
    cursor: pointer;
}

.submenu {
    position: absolute;
    padding: 15px;
    background-color: white;
    z-index: 10;
}

.submenu > ul li {
    line-height: 25px;
}

.search input{
    height: 20px;
    width: 180px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-right: 25px;
}

.search img {
    margin-left: -20px;
} 