.column {
    width: 30%;
    margin: auto;
}

.footer {
    margin-top: 100px;
}

.column h1 {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    letter-spacing: 1px;
    margin: 10px 0;
}

.column p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
}

.column div input {
    background: #F5F5F5;
    border: 1px solid #cac8c8;
    padding-left: 10px;
    width: 240px;
    height: 30px;
    border-right: none;
}

.column div button {
    background: black;
    padding-left: 5px;
    width: 40px;
    height: 34px;
    border: none;
    color: white;
}

input::placeholder {
    font-size: 16px;
    letter-spacing: 1px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-icons a {
    margin-left: 10px;
}

.footer > p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1px;
}