.basket-item table {
    border: 1px solid gray;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30px;
}

.basket-item table img {
    width: 40px;
    margin-left: 30px;
}

.basket-item table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border: 1px solid gray;
    padding-left: 20px;
    padding: 10px;
}

.basket-item table th, .total-cart h1 {
    font-weight: 700;
    padding-left: 70px;
}

.input-amount {
    width: 50px;
    height: 25px;
}

.total-cart {
    width: 30%;
    float: right;
    margin-right: 100px;
    margin-top: 40px;
}

.total-cart table {
    width: 100%;
}

.total-cart button {
    width: 100%;
    background-color: black;
    margin-top: 20px;
    border: none;
    height: 40px;
    color: gray;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 30px;
}

.total-cart h1 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.coupon {
    background-color: #EBE9EB;
    border: none;
    width: 100px;
    height: 30px;
    color: gray;
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
}

.update-cart {
    margin-right: 20px;
    color: gray;
    font-weight: 700;
    font-size: 16px;
}

.coupon-input {
    width: 80px;
    height: 20px;
}

.delete-btn {
    color: red;
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin-left: 20px;
}